/*Header- Navigation bar*/

.responsive-header {
    position: sticky;
    top: 0px;
    background-color: #60b4df;
    width: 100%;
    z-index: 1000;
}

.header-container {
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

/*Logo area*/
.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    height: 6rem;
}

.navbar-logo {
    display: flex;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-logo .site-name {
    font-size: 1.5rem;
    margin-right: 10px;
    min-width: 10rem;
}

/*Menu area*/
.header-container ul {
    list-style: none;
    height: 100%;
}

.header-container ul a {
    text-decoration: none;
}


.nav-links > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-nav {
    position: relative;
}

.first-nav > a {
    line-height: 6rem;
    color: #fff;
    padding: 0 1.2rem;
    letter-spacing: 1px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .6s;
}

.first-nav > a > i {
    margin-left: .2rem;
}

.first-nav:hover > a {
    color: yellow;
}

.menu-has-sub input[type=checkbox] {
    z-index: 90001;
    cursor: pointer;
    opacity: 0;
    display: flex;
    position: absolute;
    top: 45%;
    right: 1.1rem;
}

.menu-has-sub > a > label > i {
    padding-left: .2rem;
}

/*Child menu*/
.nav-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 10rem;
    width: 100%;
    opacity: 0;
}

.nav-dropdown ul {
    position: relative;
}

.nav-dropdown.child-dropdown {
    top: 0;
    left: 100%;
    cursor: pointer;
}

/*TODO Need to change when using react state*/
.first-nav:hover > .nav-dropdown,
.child-nav:hover > .nav-dropdown {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.child-nav {
    position: relative;
}

.child-nav > a {
    display: flex;
    background-color: #3498db;
    color: #fff;
    padding: .5rem 1rem;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    height: 4rem;
}

.child-nav:hover > a {
    background-color: #69bde7;
    color: #fff;
}

.child-nav i {
    transform: rotate(-90deg);
}

/*Login area*/

.nav-btn {
    flex: 3;
    display: flex;
}

.log-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.log-sign .btn {
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: 1rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 8rem;
    text-align: center;
}

.btn.solid, .btn.transparent:hover {
    background-color: #fff;
    color: #69bde7;
}

.btn.transparent, .btn.solid:hover {
    background-color: transparent;
    color: #fff;
}